.header {
  background-image: url("https://fastly.picsum.photos/id/114/3264/2448.jpg?hmac=DOmBAsmlq14qncJF_8kOc4zPjtJtVBqmymXphtNHPOA");
  height: 500px;
  background-position: center;
  padding: 50px;
  padding-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}


.lightOnRed,
.lightOnYellow,
.lightOnGreen,
.lightOffRed,
.lightOffYellow,
.lightOffGreen{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.lightOnRed,
.lightOnYellow,
.lightOnGreen{
    box-shadow: 0px 0px 10px 50px rgba(255, 255, 255, 0.5);
}
.lightOnRed{
    background-color: red;
    margin: 10px 10px 10px 10px;
  }

  .lightOffRed{
    background-color: red;
    margin: 10px 10px 10px 10px;
  }
  .lightOnYellow{
    background-color: yellow;
    margin: 0px 10px 10px 10px;
  }

  .lightOnYellow{
    background-color: yellow;
    margin: 0px 10px 10px 10px;
  }

  .lightOffYellow{
    background-color: yellow;
    margin: 10px 10px 10px 10px;
  }
  .lightOnGreen{
    background-color: green;
    margin: 0px 10px 10px 10px;
  }
  .lightOffGreen{
    background-color: green;
    margin: 0px 10px 10px 10px;
  }
  
  .stand {
    background-color: black;
    width: 20px;
    height: 20px;
  }